*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; 
}

/* Fonts
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
*/

/*Body*/
body {
    display: flex;
    flex-direction: column;
    /* max-width: 1280px; */
    width: 100%;
    height: 1400px;
    margin: 0 auto;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400; 
 /*   min-height: 100vh;*/
    justify-content: space-between;
    align-items: center;
    color: #292929;
    /* border: 1px solid red; */
}

.container {
    max-width: 1280px;     
    width: 100%;
    margin: 0 auto;
}

/*Header*/
.header {
    max-width: 1280px;
    width: 100%; 
    min-height: 60px;
    margin-top: 20px;
    background-color: #fff;
    /* border: 1px solid red; */
 }

.header-container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

/*Navigation*/
.nav {
    margin-left: auto;
    /* border: 1px solid red; */
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    /* border: 1px solid red; */
}

.nav-item {
    padding: 0;
    margin: 0;
}

.nav-link {
    padding: 0 20px;
    font-size: 22px;
    line-height: 50px;
    text-decoration: none;
    transition: 0.3s;
    color: #000;
}

.nav-link:hover {
    color: #9c8232;
}

 /*Main container*/
 .main-container {
    display: flex;
    max-width: 1280px;     
    width: 100%;
    min-height: 1240px;
    margin: 0 auto;
    background-color: #fff;
}

/* Left side */
.left-side {
    max-width: 370px;
    width: 100%;
    background-color: #FBCCCC;
    /* border: 1px solid red; */
  }
  
.img {
    max-width: 370px;
    width: 100%;
    max-height: 530px;
}

.container-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 690px;
}
.section-aside {
    margin-left: 40px;
    /* border: 1px solid red; */
}

.section-contact {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 700; 

}

.contact-list,
.skills-list,
.education-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.section-link {
    text-decoration: none;
    transition: 0.3s;
    color: #000;
}

.section-link:hover {
    color: #9c8232; 
}

/*Right side*/
 .right-side {
    display: flex;
    flex-direction: column;
    max-width: 910px;
    width: 100%;
    margin-left: 80px;
    justify-content: space-evenly;
    /* border: 1px solid red; */ 
}

.section-right {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    gap: 10px;
    /* border: 1px solid red; */
} 

.profile-title {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    line-height: 55px;
}

.profile-item {
    font-size: 22px;
    font-weight: 700;
}

.summary-item {
    line-height: 25px;
}
.code-item {
    line-height: 30px;
}

/*Section experience*/
.section-experience {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.experience-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.exp-item {
    /* display: flex;
    flex-direction: column; */
    margin-left: 25px;
    gap: 5px;
}

.experience-job {
    font-size: 20px;
}

.experience-wrap {
    display: flex;
    flex-direction: row;
    max-width: 550px;
    justify-content: space-between;
    gap: 5px;
}

.experience-place {
    font-size: 20px;
    font-weight: 400;
}

.experience-years {
    font-size: 20px;
}

/*Section languages */
.section-languages {
    display: flex;
    flex-direction: column;
}

.languages-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    margin-left: 25px;
}

.footer {
    max-width: 1280px;
    width: 100%;
    min-height: 60px;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
}

.footer-data {
    display: flex;
    width: 200px;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;

}

.rss {
    /* border: 1px solid red; */
}