/*Normalize*/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li { list-style: none;
}

img { 
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
}

.wrapper {
    min-height: 100%;
}



@font-face {
    font-family: Spline Sans;
    src: url(assets\fonts\Spline_Sans\SplineSans-VariableFont_wght.ttf);
} 

* {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth; 
}

/*Body*/

body {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    font-family: 'Spline Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
 /*   min-height: 100vh;*/
    line-height: 2;
    justify-content: space-between;
    color: black;
}

/*Header*/
.header {
    max-width: 1440px;
    width: 100%; 
    min-height: 90px;
 }

.header-container {
    display: flex;
    flex-direction: row;
    max-width: 1440px; 
    width: 100%; 
    min-height: 90px;
    padding: 0 20px;
    align-items: center;
}

/*Navigation*/
.nav {
    margin-left: auto;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    border: 1px solid red;
}

.nav-item {
    padding: 0;
    margin: 0;
}

.nav-link {
    position: relative;
    padding: 0 20px;
    transition: color 0.5s;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    color: #000;
}

.nav-link:hover {
    color: #bdae82;
}
/*

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


.nav-link {
    padding: 0 20px;
    line-height: 50px;
    font-size: 16px;
    color: brown;
    cursor: pointer;
    transition: color 0.2s linear;
    text-decoration: none;
    align-items: center;
}*/
 /*Container*/

 .container {
    display: flex;
    width: 100%;
 /*   max-width: 1000px;*/
    margin: 0 auto;
    background-color: antiquewhite;
}

.right-side {
    width: 830px;
    padding-left: 80px;
    padding-right: 200px;
    padding-top: 68px;
    padding-bottom: 68px;
}
  
/*Main container*/

.main-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.section-title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    line-height: 1.6;
}

.section {
    width: 100%;
}




.section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
}

.section-item a:hover {
    color: #5d7260;
    text-decoration: none;
 }

/*Header*/

.header {
    width: 100%;
    position: absolute;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1000;
    border: 1px solid red;
}

/*Right side*/

.right-side {
    width: 800px;
    width: 100%;
    padding-left: 80px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 65px;
    border: 1px solid red;
}
  
.section-profile-title {
    font-size: 45px;
    line-height: 2;
    margin-bottom: 20px;
}

.profile-item {
    font-size: 30px;
}

/*Left side*/

.left-side {
    width: 600px;
    padding-left: 20px;
    border: 1px solid red;
  }
  
.photo {
    width: 250px;
    padding-top: 100px;
}

.rsschool {
    width: 120px;
    height: 40px;
    background-image: url("assets\svg\rs_school_js.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }


.footer {
    text-align: center;
    color: black;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    border: 1px solid red;
    
}


@media (max-width: 765px) {
    .section {
      width: 100%;
    }
  }